<div class="login-form">
    <div class="login-content">
        <div class="titre">Mot de passe oublié:</div>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit2(myForm)">

            <div class="form-group">
                <label for="resetPasswordEmail">Email</label>
                <p>
                    <input formControlName="username" name="username" placeholder="exemple@mail.com">
                </p>
            </div>

            <div class="btn-grid">
                <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Modifier mot de passe
                </button>

                <button routerLink="/login" type="button" class="btn btn-primary">Retour</button>
            </div>
        </form>
    </div>
</div>


<!--
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Mot de passe oublié</h3>
        <form #f="ngForm"
        (ngSubmit)="onSubmit(f)">

            <div class="form-group">
                <label for="resetPasswordEmail">Email</label>
                <input type="email" 
                name="username"
                ngModel
                required
                #username="ngModel"
                class="form-control" 
                id="resetPasswordEmail" 
                placeholder="moi@mail.fr">
            </div>

            <button type="submit" 
            [disabled]="f.invalid"
            class="btn btn-primary">Modifier mot de passe </button>

            <button routerLink="/login" type="button" class="btn btn-primary">Cancel</button>
        </form>
    </div>
</div>
-->