<nav>
    <ul>
        <li style="float: right" class="scrolling"><span class="profil">&ensp;Profil&ensp;▾</span>
            <ul class="under">
                <span *ngIf="cond">
                    <a routerLink="/admin" type="button" class="btn btn-primary">Admin</a>
                </span>
                <li><a routerLink="/parameters" type="button" class="btn btn-primary">Paramètres</a></li>
                <li><a (click)="clicSurBouton()" class="btn btn-primary">Supprmier mon compte</a></li>
                <li><a (click)="cancel()" class="btn btn-primary">Deconnexion</a></li>
            </ul>
        </li>
        <li><a (click)="boutonSondages()" type="button" class="btn btn-primary">Consultation des sondages</a></li>
        <li><a (click)="boutonSuggestions()" type="button" class="btn btn-primary">Consultation des suggestions</a></li>
        <li><a (click)="boutonSupp()" type="button" class="btn btn-primary">Remerciment d'un collaborateur</a></li>
        <li><a (click)="boutonCreation()" type="button" class="btn btn-primary">Ajout d'un salarié</a></li>
        <li style="float: left"><a href="/home">SafetyLine</a></li>
    </ul>
</nav>

<div *ngIf="modeCreation">
    <div class="login-form">
        <div class="login-content">
            <h3>Ajouter un utilisateur</h3>
            <form [formGroup]="myForm" (ngSubmit)="creation(myForm)">

                <div class="form-group">
                    <label for="resetPasswordEmail">Email</label>
                    <p>
                        <input formControlName="username" name="username" placeholder="exemple@mail.com">
                    </p>
                    <label for="resetPasswordEmail">Nom</label>
                    <p>
                        <input formControlName="lastName" name="nom" placeholder="Dupont">
                    </p>
                    <label for="resetPasswordEmail">Prenom</label>
                    <p>
                        <input formControlName="firstName" name="Prenom" placeholder="Jean">
                    </p>
                </div>
                <div>
                    <label for="admin">Administrateur</label>
                    <input formControlName="admin" type="checkbox" id="admin" name="admin">
                    
                </div>
                <div class="btn-grid">
                    <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Envoyer inscription </button>
                    <button routerLink="/home" type="button" class="btn btn-primary">Retour</button>
                </div>
            </form>
            
        </div>
    </div>
</div>

<div *ngIf="modeSupp">
    <h3 style="text-align: center;">Utilisateurs:</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Adresse mail</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Séparation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | paginate : {itemsPerPage: 5,currentPage: p}">
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <!--<button onclick()="suppUser(user.username)">Supprimer</button>-->
                <!--<button (click)="suppUser(user.username)">Supprimer</button>-->
                <!--<mat-icon>delete</mat-icon>-->
                <td><mat-icon (click)="suppUser(user.username)" aria-hidden="false" aria-label="Example home icon">
                    person_remove</mat-icon></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>     
    </div>
</div>

<div *ngIf="modeSuggestions">
    <h3 style="text-align: center;">Suggestions :</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Contenu</th>
                <th>Auteur</th>
                <th>Date</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let suggestion of suggestions | paginate : {itemsPerPage: 5,currentPage: p}">
                <td>{{suggestion.content}}</td>
                <td>{{suggestion.author}}</td>
                <td>{{suggestion.begin}}</td>
                <td><mat-icon (click)="suppSugg(suggestion.id, suggestion.content)" aria-hidden="false" aria-label="Example home icon">
                    delete</mat-icon></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>     
    </div>
</div>

<div *ngIf="modeSondage">
    <div *ngIf="consultationRes">
        <div>
            <label for="consultationRes" style="text-align: center;">{{resSondage.title}}</label>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Réponses:</th>
                    <th *ngFor="let res of resSondage.choices">
                        {{res.content}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Nombre de votes:</th>
                    <td *ngFor="let res of resSondage.choices">
                        {{res.votersCount}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 style="text-align: center;">Sondages :</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Date d'expiration</th>
                <th>Consultation</th>
                <th>Supression d'un sondage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sondage of resSondages | paginate : {itemsPerPage: 5,currentPage: p}">
                <td>{{sondage.title}}</td>
                <td>{{sondage.author}}</td>
                <td>{{sondage.expirationDate}}</td>
                <td><mat-icon (click)="consResSond(sondage)" aria-hidden="false" aria-label="Example home icon">article
                </mat-icon></td>
                <td><mat-icon (click)="suppSond(sondage)" aria-hidden="false" aria-label="Example home icon">delete
                </mat-icon></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>     
    </div>
    <button routerLink="/sondage" type="button" class="btn btn-primary">Créer un nouveau sondage</button>
</div>