<nav>
    <ul>
        <li><a (click)="boutonSondages()" type="button" class="btn btn-primary">Consultation des sondages</a></li>
        <li><a (click)="boutonSupp()" type="button" class="btn btn-primary">Remerciment d'un collaborateur</a></li>
        <li><a (click)="boutonCreation()" type="button" class="btn btn-primary">Ajout d'un collaborateur</a></li>
        <li style="float: left"><a href="/home">SafetyLine</a></li>
    </ul>
  </nav>
<button routerLink="/home" type="button" class="btn btn-primary">Cancel</button>

<div *ngIf="modeCreation">
    <div class="login-form">
        <div class="login-content">
            <h3>Ajouter un utilisateur</h3>
            <form [formGroup]="myForm"
            (ngSubmit)="creation(myForm)">
    
                <div class="form-group">
                    <label for="resetPasswordEmail">Email</label>
                    <p>
                        <input formControlName="username" 
                        name="username"
                        placeholder="Email">
                    </p>
                    <label for="resetPasswordEmail">Nom</label>
                    <p>
                        <input formControlName="nom" 
                        name="nom"
                        placeholder="Nom">
                    </p>
                    <label for="resetPasswordEmail">Prenom</label>
                    <p>
                        <input formControlName="prenom" 
                        name="Prenom"
                        placeholder="Prenom">
                    </p>
                </div>
                <div>
                    <input  formControlName="admin" type="checkbox" id="admin" name="admin">
                    <label for="admin">Administrateur</label>
                </div>
                <button type="submit" 
                [disabled]="myForm.invalid"
                class="btn btn-primary">Envoyer inscription </button>
    
                <button routerLink="/login" type="button" class="btn btn-primary">Cancel</button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="modeSupp">
    Mode suppression
</div>

<div *ngIf="modeSondage">
    Mode sondages
</div>