<nav>
    <ul>
      <li style="float: right" class="scrolling"><a href="/home">Profil&ensp;</a>
        <ul class="under">
          <span *ngIf="cond">
            <a routerLink="/admin" type="button" class="btn btn-primary">Admin</a>
          </span>
          <li><a routerLink="/parameters" type="button" class="btn btn-primary">Paramètres</a></li>
          <li><a (click)="clicSurBouton()" class="btn btn-primary">Supprmier mon compte</a></li>
          <li><a (click)="cancel()" class="btn btn-primary">Deconnexion</a></li>
        </ul>
      </li>
      <li><a href="/home">Sondages</a></li>
      <li><a href="/home">Faire une suggestion</a></li>
      <li style="float: left"><a href="/home">SafetyLine</a></li>
    </ul>
  </nav>

  <div class="login-form">
    <div class="login-content">
        <h3>Entrez une suggestion</h3>
        <form [formGroup]="myForm"
        (ngSubmit)="sugg(myForm)">

            <div class="form-group">
                <label for="resetPasswordEmail">Suggestion:</label>
                <!--<p>
                    <input formControlName="username" 
                    name="username"
                    placeholder="Email">
                </p>-->
                </div> 
            <textarea formControlName="content" id="content" name="content"
              rows="5" cols="33">
                It was a dark and stormy night...
            </textarea>
            
            <div>
                <input  formControlName="anonymous" type="checkbox" id="anonymous" name="anonymous">
                <label for="anonymous">anonymous</label>
            </div>
            <button type="submit" 
            [disabled]="myForm.invalid"
            class="btn btn-primary">Envoyer suggestion </button>

            <button routerLink="/login" type="button" class="btn btn-primary">Cancel</button>
        </form>
    </div>
</div>

<!--
<button (click)="cancel()" type="button" class="btn btn-primary">Deconnexion</button>
<button (click)="clicSurBouton()" type="button" class="btn btn-primary">Supprmier mon compte</button>

<div *ngIf="cond">Vous êtes un administrateur.

    <button routerLink="/admin" type="button" class="btn btn-primary">Admin</button>

</div>

<button routerLink="/parameters" type="button" class="btn btn-primary">Paramètres</button>

-->
