<nav>
    <ul>
      <li style="float: right" class="scrolling"><a href="/home">Profil &ensp;</a>
        <ul class="under">
          <span *ngIf="cond">
            <a routerLink="/admin" type="button" class="btn btn-primary">Admin</a>
          </span>
          <li><a routerLink="/parameters" type="button" class="btn btn-primary">Paramètres</a></li>
          <li><a (click)="clicSurBouton()" type="button" class="btn btn-primary">Supprmier mon compte</a></li>
          <li><a (click)="cancel()" type="button" class="btn btn-primary">Deconnexion</a></li>
        </ul>
      </li>
      <li><a href="/home">Sondages</a></li>
      <li><a href="/home">Faire une suggestion</a></li>
      <li style="float: left"><a href="/home">SafetyLine</a></li>
    </ul>
  </nav>

<!--
<button (click)="cancel()" type="button" class="btn btn-primary">Deconnexion</button>
<button (click)="clicSurBouton()" type="button" class="btn btn-primary">Supprmier mon compte</button>

<div *ngIf="cond">Vous êtes un administrateur.

    <button routerLink="/admin" type="button" class="btn btn-primary">Admin</button>

</div>

<button routerLink="/parameters" type="button" class="btn btn-primary">Paramètres</button>

-->
