body {
    background: #CCC;
  }
  :root{
      --primary-color: #7639AA;
      --secondary-color: #A80D72;
      --grey-dark-color: #434343;
      --grey-light-color: #F8F8F8;
  }
  nav {
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
  }
  nav ul {
    list-style-type: none;
    background: var(--primary-color);
  }
  nav ul li {
    float: right;
    width: auto;
    text-align: center;
    position: relative;
  }
  nav ul::after {
    content: "";
    display: table;
    clear: both;
  }
  nav a, .profil {
    cursor : pointer;
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--primary-color);
  }
  nav a:hover, .profil:hover {
    color: white;
    background: var(--secondary-color);
    border-bottom: 3px solid white;
  }
  .under {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  nav > ul li:hover .under {
    display: block;
    padding: 0px;
  }
  .under li {
    float: none;
    width: 100%;
    text-align: left;
  }
  .under a, .under .profil {
    padding: 10px;
    border-bottom: none;
    background-color:var(--primary-color);

  }
  .under a:hover {
    border-bottom: none;
  }
  .scrolling > a::after {
    content:"▾";
    font-size: 12px;
  }

  .login-form {
    background: #E9E9E9;
    text-align: center;
  }

  .login-content {
    padding: 10px;
    background: #E9E9E9;
  }
  .login-form {
    max-width: 370px;
    /* width: 400px; */
    width: 45%;
    min-width: 300px;
    margin: auto;
  }
  .login-footer {
    background: #CFCFCF;
    text-align: center;
    font-style: italic;
    font-size: small;
    padding: 5px;
  }
  .login-footer a {
    color: var(--grey-dark-color);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  table {
    border-collapse: collapse;
    width:70%;
    margin-left:15%;
  }
  th {
    text-align: center;
    background: var(--secondary-color);
    border-bottom: 2px solid black;
    padding: 5px;
    color: #DDD;
  }
  tr:nth-child(even) {
    background: #DDD;
  }
  tr:nth-child(odd) {
    background: #EEE;
  }
  tr:hover {
    background: #DBF;
  }
  td {
    text-align: center;
    /*min-width: 200px;*/
    padding: 3px;
  }
  td:hover {
    background: #D9F;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }

  input{
    width: 50px;
  }


  