<?xml version="1.0" encoding="UTF-8"?>
<com.sorbonne.safetyline.beans xmlns="http://www.springframework.org/schema/com.sorbonne.safetyline.beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/com.sorbonne.safetyline.beans http://www.springframework.org/schema/com.sorbonne.safetyline.beans/spring-com.sorbonne.safetyline.beans.xsd"
        xmlns:jpa="http://www.springframework.org/schema/data/jpa">
    <jpa:repositories base-package="com.sorbonne.safetyline.dataAccess" />
</com.sorbonne.safetyline.beans>