/* You can add global styles to this file, and also import other style files */
@import url('charte.css');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-icon{
    font-family: 'Material Icons' !important;
  }
