/* You can add global styles to this file, and also import other style files */
@import url('charte.css');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-icon{
    font-family: 'Material Icons' !important;
  }

  button:disabled {

  background: linear-gradient(to left, var(#7639AA), var(#A80D72));
  opacity: 0.44;

  }

  .ng-valid:not(form) {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  input[type='checkbox'] { height:25px }

  mat-icon{
    font-family: 'Material Icons' !important;
    cursor : pointer;
    color: black;
    background-color: #7639AA; 
    font-size: 20px;
  }