<p>login-form works!</p>

<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Connexion</h3>
    <form #f="ngForm"
    (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" 
        name="username"
        ngModel
        required
        #username="ngModel"
        class="form-control" 
        id="exampleInputEmail1" 
        aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <p>username valid: {{ username.valid }}</p>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" 
        name="password"
        ngModel
        required
        #password="ngModel"
        class="form-control" 
        id="loginPassword">
      </div>

      <button type="submit" 
      [disabled]="f.invalid"
      class="btn btn-primary">Connexion <i class="fas fa-sign-in-alt"></i></button>
 
      <div class="form-group">
        <a routerLink="/login/reset">Modifier mon mot de passe</a>
      </div>
    </form>
  </div>
</div>